body {}

.navbar {

    background-color: black;
    color: whitesmoke !important;
}

a{


    color: white !important;
}


.dropdown-menu {

    background-color: black !important;

    a:hover{

        

    }
}